modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/email-platform: web"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/email-platform"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/email-platform run dev"
cwd = "./artifacts/email-platform"
waitForPort = 25636
router = "path"

[workflows.workflow.tasks.env]
PORT = "25636"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
